html
{
	background-color: #fffbdc;
	font-family: carrois;
	padding: 50px;
}

hr
{
	width: 20%;
}

br
{
	margin: 1px;
}

nav a
{
	color: black;
	text-decoration: none;
}

@media only screen and (max-width: 768px) 
{
	.sizeHide
	{
		display: none;
    }
}

@font-face
{
	font-family: carrois; 
	src: url('CarroisGothicSC-Regular.ttf');
} 