html
{
	background-color: #FFFCF2;
	font-family: carrois;
	padding: 50px;
	
	/*enlever*/
	/*image sous creative commons sans attribution*/
	background-image: url('images/sped.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
	
	cursor: url('images/ugly.cur'), default;
}

hr
{
	width: 20%;
}

br
{
	margin: 1px;
}

a
{
	color: black;
	text-decoration: none;
}

img 
{
	/*enlever*/
	filter: blur(5px);
}

@media only screen and (max-width: 768px) 
{
	html
	{
		padding: 0px;
	}
	
	.sizeHide
	{
		display: none;
    }
	
	.topContent
	{
		padding-top: 50px;
	}
	
	tr
	{
		width: 100%;
	}
	
	img
	{
		width: 100%;
	}
}

@media only screen and (min-width: 769px)
{
	.sizeShow
	{
		display: none;
	}
}

@font-face
{
	font-family: carrois; 
	src: url('CarroisGothicSC-Regular.ttf');
} 